<!DOCTYPE html>
<html>
<head>
	<title>CRUD 1</title>
</head>

<body>
	<a href="{{ url_for('add') }}">Tambah Data Baru</a><br/><br/>

	<table width='80%' border=0>

		<tr bgcolor='#CCCCCC'>
			<td>Nama</td>
			<td>Umur</td>
			<td>Email</td>
			<td>Action</td>
		</tr>
		{% for item in crud %}
		<tr>
			<td>{{ item[1] }}</td>
			<td>{{ item[2] }}</td>
			<td>{{ item[3] }}</td>
			<td>
				<a href="{{ url_for('edit', id=item[0]) }}">Edit</a>
				<a href="{{ url_for('delete', id=item[0]) }}" onClick="return confirm('Serius mau dihapus?')">Hapus</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>
